<section class="archive">
	<h1> Articles </h1>
	<div class="post-archive">
		<% page.posts.each(function (post) { %>
			<a class="post-item" href="<%- url_for(post.path) %>"> <%= date(post.date, "YYYY-MM-DD") %> <%= post.title %> </a>
		<% }) %>
	</div>
</section>
