body {
	background-color: #e2e0de; 
} 
a {
	text-decoration: none; 
}
a:hover {
	color: red; 
}
.main {
	width: 100%; 
	max-width: 740px;  
	min-height: 400px;

	border: 1px solid #D4CD49; 
    left: 0; 
    right: 0; 
    bottom: 0; 
	margin: auto; 

	box-shadow: 0 0 3px rgba(0, 0, 0, 0.15); 
	position: relative; 
	/*position: fixed;*/
}
.logo {
	width: 200px; 
	height: 200px; 
	/*border: 1px solid #D4CD49; */

	float: left; 
	/*position: fixed; */
} 
.name {
	/*position: relative; */ 
	width: auto;
	text-align: center; 
	height: 100px; 
	color: #00968878; 

	font-size: 14px; 
	font-style: oblique; 
	/*border: 1px solid #D4CD49; */
}

.own {
	width: auto; 
	height: 200px; 
	/*border: 1px solid #D4CD49; */
}

.contact {
	width: auto;
	text-align: center; 
	height: 100px; 

	font-size: 14px; 
	font-style: oblique; 
}

.footer {
	color: #607d8b;
	width: 100%; 
	position: absolute;
	bottom: 20px;
	text-align: center; 
	font-style: oblique; 
}

.introduction {
	width: 100%; 
	text-align: center; 
	font-size: 25px; 
}

.post {
	width: 90%; 
	margin: auto; 
}

.post-item {
	display: block;
	text-decoration: none;
	padding: 4px;
	transition: all .3s;
	border-right: 3px solid transparent;
	border-left: 3px solid #009688;
	cursor: pointer;
}

.post-item:hover {
	transform: translateY(-5px);
	transform: translateX(-5px);
	box-shadow: 0 5px 10px #eaeaea;
}

.post-archive {
	margin: auto;
	width: 50%;
}

@import "_partial/code"
