<head> 
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
<meta name="google-site-verification" content="llmaCY0t-7Z2WKF_bm6H0UTB__kpDnXb7c8fCXTYdHc" />
<link rel="shortcut icon" type="image/ico" href="/favicon.ico">
<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
<title><%= config.title %></title>
<%- css('css/style.css') %>
</head>

