<div class="own"> 
	<div class="name"> 
		<h1> Gernkom Tsang's Blog </h1>
		<span> | </span>

		<% for (name in theme.menu) { %>
			<a href="<%- url_for(theme.menu[name]) %>"> <%= name %> </a>
			<span> | </span>
		<% } %>
	</div>

	<div class="contact">
		<span> contact me: </span>
		<span><a href="https://t.me/gernkom"> Telegram </a></span>
		<span>,</span>
		<span><a href="mailto:poooooooorguy@gmail.com"> E-Mail </a></span>
	</div>
</div>
