<input type='checkbox' id='sideToggle'>
<aside>
	<div class="sidebar">
		<center><p style="font-size: 27px; ">Gernkom</p></center>
		<a href="/">
			<i class="fa fa-home fa-lg"> Home </i>
		</a>
		<br></br>
		<a href="/archives">
			<i class="fa fa-folder-open fa-lg"> Archives </i>
		</a>
		<br /><br />
		<center><p style="font-size: 20px;">Contact me: </p></center>
		<center>
			<a href="https://github.com/gernkom">
				<i class="fa fa-github fa-lg"></i>
			</a>
			<span>|</span>
			<a href="mailto:poooooooorguy@gmail.com">
				<i class="fa fa-envelope fa-lg"></i>
			</a>
			<span>|</span>
			<a href="https://t.me/gernkom">
				<i class="fa fa-telegram fa-lg"></i>
			</a>
		</center>
	</div>
</aside> 
<div id='wrap'>  
    <center><label id='sideMenuControl' for='sideToggle' class="fa fa-angle-double-right fa-2x"></label></center>
</div>